@import "fonts.css";

:root {
	--color-background: #EFEFEF;
	--color-accent: rgba(33,33,33,1);
	--box-padding: 20px;
}

* {
	margin: 0;
}

html,
body {
	margin: auto;
	background-color: var(--color-background);
}

/* --- */

h1,
h2,
.Magistral {
	font-family: "Magistral","Droid Sans","Arial",sans-serif;
}

*,
.Droid {
	font-family: "Droid Sans","Arial",sans-serif;
}

h1,
h2 {
	letter-spacing: 2px;
}

/* --- */

.noAliasing {
	image-rendering: pixelated;
}

/* Layout */

footer,
section {
	box-sizing: border-box;
	padding: var(--box-padding);

	display: flex;
	justify-content: center;
}

footer .inner,
section .inner {
	width: 100%;
	max-width: 1100px;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center.X {
	align-items: unset;
}

.center.Y {
	justify-content: unset;
}

/* Layout > Content */

section.intro {
	background: var(--color-accent);
	height: 100px;
}

/* --- */

section.carousel {
	padding: unset;
	background: rgba(0,0,0,.5);
}

section.carousel .inner {
	height: 50vw;
	min-height: 300px;
	max-height: 550px;
}

section.carousel .inner > img {
	padding: 0 20px;
	width: 40px;
	cursor: pointer;
}

section.carousel .inner > img:last-of-type {
	transform: rotate(180deg);
}

section.carousel .content {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: black;
	background-image: url("../img/loading.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

section.carousel .slider {
	--length: 1;
	width: calc(100% * var(--length));
	transition: 300ms transform;
	transform: translateX(0);
	height: 100%;
	display: flex;
}

section.carouselPages {
	background: white;
}

section.carouselPages .dots > div {
	--size: 14px;
	width: var(--size);
	height: var(--size);
	margin: 0 5px;
	background: #E6E6E6;
	border-radius: 100%;
	cursor: pointer;
}

section.carouselPages .dots > div.active {
	background: black;
	pointer-events: none;
}

/* --- */

section.card.highlight {
	background: rgb(0,0,0);
	background: linear-gradient(0deg, white 0%, white 50%, var(--color-accent) 50%, var(--color-accent) 100%);
	margin: unset;
}

section.card .inner {
	background: white;
	border-radius: 20px;
	margin-top: var(--margin-top);
	padding: calc(var(--box-padding) * 2.5);

	display: flex;
}

section.card .inner > * {
	display: flex;
	align-self: center;
	flex-wrap: wrap;
}

section.card h1 {
	font-size: 2em;
}

section.card picture,
section.card img {
	max-width: 200px;
	height: 200px; /* Webkit */
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
}

section.card p {
	font-size: 1.2em;
}

section.intro h2,
section.card p:nth-child(2) {
	--margin: 20px;
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

/* --- */

section.app {
	--gradient-margin: 20%;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, white 0%, white var(--gradient-margin), var(--color-accent) var(--gradient-margin), var(--color-accent) calc(100% - var(--gradient-margin)), white calc(100% - var(--gradient-margin)), white 100%);
	padding-bottom: calc(var(--box-padding) * 2);
}

section.app + section {
	margin-top: unset;
}

section.app h2 {
	font-size: 1.8em;
	margin-bottom: calc(var(--box-padding) * 2);
	color: white;
}

section.app .device {
	position: relative;
	width: 50%;
}

section.app .device picture,
section.app .device picture img {
	width: 100%;
}

section.app .device .icons {
	position: absolute;
	display: block;
	width: 40%;
}

section.app .device .icons picture:last-child {
	display: none;
}

section.app .device .icons picture:last-child img {
	margin-top: 5em;
}

section.app .download {
	width: 100%;
	box-sizing: border-box;
	padding: var(--box-padding);
}

section.app .badges {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section.app .badges picture,
section.app .badges img {
	width: 80%;
}

/* --- */

section.highlight {
	background: var(--color-accent);
	margin: var(--box-padding) 0;
}

section.highlight h2 {
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	font-family: "Droid Sans","Arial",sans-serif;
}

/* --- */

section.video .inner {
	padding: 0 calc(var(--box-padding) * 2);
}

section.video iframe {
	width: 100%;
	height: 50vw;
	min-height: 300px;
	max-height: 600px;
	background-color: black;
	background-image: url("../img/loading.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
}

/* --- */

section.card + section.products {
	padding-top: unset;
}

section.products .inner {
	display: flex;
	flex-wrap: wrap;
}

section.products .item {	
	width: 25%;
	height: 350px;
}

section.products .item > div {
	--margin: 20px;
	box-sizing: border-box;
	padding: 20px;
	flex-wrap: wrap;
	width: calc(100% - var(--margin));
	height: calc(100% - var(--margin));
	background: white;
}

section.products .item img {
	height: 60%;
}

section.products .item p {
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: "Magistral","Droid Sans","Arial",sans-serif;
	font-weight: bold;
	align-self: flex-end;
}

/* --- */

section.bgimage {
	background: var(--color-accent);
	background-image: url("../img/bg.png");
	background-size: cover;
	background-position: 50% 80%;
	height: 50vh;
}

section.bgimage img {
	width: 30vh;
	max-width: 350px;
}

footer {
	background: var(--color-accent);
	height: 10vh;
	min-height: 7em;
}

footer p {
	font-size: 1em;
	color: white;
}

@media screen and (max-width: 800px) {
	section.intro {
		font-size: 2vw;
	}

	/* --- */
	
	section.card {
		--margin-top: 5px;
	}

	section.card .inner {
		flex-wrap: wrap-reverse;
	}

	section.card img {
		padding-left: unset;
		margin-bottom: var(--box-padding);
	}

	/* --- */

	section.video .inner {
		padding: unset;
	}

	/* --- */

	section.app h2 {
		font-size: 1em;
	}

	/* --- */

	section.products .item {	
		width: 33.33%;
	}
}

@media screen and (max-width: 600px) {

	section.card {
		background: white;
	}

	section.card .inner {
		padding: var(--box-padding);
	}

	section.card.highlight .inner {
		padding: calc(var(--box-padding) * 1.5);
	}

	/* --- */

	section.carousel .inner > img {
		--size: 30px;
		width: var(--size);
		height: var(--size);
		position: absolute;
		padding: 10px;
		background: black;
		border-radius: 100%;
		opacity: .5;
		z-index: 1;
	}

	section.carousel .inner > img:first-of-type {
		left: calc(var(--box-padding) / 2);
	}

	section.carousel .inner > img:last-of-type {
		right: calc(var(--box-padding) / 2);
	}

	section.video {
		padding: unset;
	}

	/* --- */

	section.highlight {
		margin: unset;
	}

	section.highlight h2 {
		text-align: center;
	}

	section.products .item {	
		width: 100%;
	}

	section.products .item > div {
		border-radius: 6px;
	}

	/* --- */

	section.app {
		background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, var(--color-accent) 30%, var(--color-accent) 100%);
	}

	section.app h2 {
		font-size: 2em;
		text-align: center;
	}

	section.app .inner {
		flex-wrap: wrap-reverse;
	}

	section.app .device {
		width: 100%;
	}

	section.app .device .icons picture:last-child {
		display: initial;
	}

	section.app .badges {
		justify-content: flex-end;
	}

	section.app .badges picture:last-child,
	section.app .badges picture:first-child {
		display: none;
	}
}